<%= link_to 'New Employee', new_employee_path %>
<span> - Number of Employees = <%= @emp_count %> </span>

<table class="table table-striped table-hover">
<thead>
  <tr>
    <th>lname</th>

    <th>first</th>
    <th>last</th>
    <th>email</th>
    <th>empid</th>
    <th>startdate</th>
    <th>dept</th>
    <th>paytype</th>
    <th>badgeno</th>
    <th>ext</th>
    <th>telephone</th>
    <th>cell</th>
    <th>pic</th>
    <th colspan="3"></th>
  </tr>
</thead>

  <tbody>
  <% @employees.each do |employee| %>
    <%= render employee %>
  <% end %>

</tbody>
</table>





